/*Button*/
button::-moz-focus-inner {
  padding: 0;
  border: none;
  margin: 0;
}
.k-button{
  position: relative;
  display: inline-block;
  outline: none;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color .3s ease-out, border-color .3s ease-out, color .3s ease-out;
  transition: background-color .3s ease-out, border-color .3s ease-out, color .3s ease-out;
}
.k-button-radius{
  border-radius: 4px;
}
.k-button i:first-child{
  margin-right: 6px;
}
.k-button i:last-child{
  margin-right: 0px;
}
.k-button-mini{
  padding: 2px 4px;
}
.k-button-small{
  padding: 3px 8px;
}
.k-button-normal{
  padding: 4px 14px;
}
.k-button-large{
  padding: 6px 16px;
}
.k-button-default{
  background: #fff;
  color: #666;
  border-color: #ccc;
}
.k-button-default:hover{
  border-color: #20a0ff;
  color: #20a0ff;
}
.k-button-default:active{
  border-color: #3879D9;
  color: #3879D9;
}
.k-button-ghost{
  color: #666;
  background: none;
  border-color: #ccc;
}
.k-button-ghost:hover{
  border-color: #20a0ff;
  color: #20a0ff;
}
.k-button-ghost:active{
  border-color: #3879D9;
  color: #3879D9;
}
.k-button-dashed{
  border: 1px dashed #ccc;
  background: #fff;
  color: #666;
}
.k-button-dashed:hover{
  border-color: #20a0ff;
  color: #20a0ff;
}
.k-button-dashed:active{
  border-color: #3879D9;
  color: #3879D9;
}
.k-button-text{
  background: transparent;
  color: #20a0ff;
  border-color: transparent;
}
.k-button-text:hover{
  color: #4db3ff;
}
.k-button-text:active{
  color: #3879D9;
}
.k-button-primary{
  background: #20a0ff;
  color: #fff;
  border-color: #20a0ff;
}
.k-button-primary:hover{
  border-color: #4db3ff;
  background: #4db3ff;
  color: #fff;
}
.k-button-primary:active{
  border-color: #3879D9;
  background: #3879D9;
  color: #fff;
}
.k-button-success {
  border-color: #13ce66;
  background: #13ce66;
  color: #fff;
}
.k-button-success:hover {
  background: #42d885;
  border-color: #42d885;
}
.k-button-success:active {
  background: #42AE77;
  border-color: #42AE77;
}
.k-button-warning {
  border-color: #f7ba2a;
  background: #f7ba2a;
  color: #fff;
}
.k-button-warning:hover {
  background: #f9c885;
  border-color: #f9c885;
}
.k-button-warning:active {
  background: #FF9900;
  border-color: #FF9900;
}
.k-button-danger {
  border-color: #ff4949;
  background: #ff4949;
  color: #fff;
}
.k-button-danger:hover {
  background: #ff6d6d;
  border-color: #ff6d6d;
}
.k-button-danger:active {
  background: #cc3333;
  border-color: #cc3333;
}
.k-button-info {
  border-color: #50bfff;
  background: #50bfff;
  color: #fff;
}
.k-button-info:hover {
  background: #73ccff;
  border-color: #73ccff;
}
.k-button-info:active {
  background: #20a0ff;
  border-color: #20a0ff;
}
.k-button-disable{
  cursor: not-allowed;
  color: #aaa;
  border-color: #d3dce6;
  background: #eee;
}
.k-button-circle{
  border-radius: 50%;
  padding: 0;
  width: 28px;
  height: 28px;
}
